<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <%- include('./partials/navbar.ejs', {user: user}) %> 
    <p>Hello World!</p>
  </body>
</html>
